<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Css Clock</title>

    <link rel="stylesheet" href="css/cssClock.css">
    <script defer src="js/cssClock.js"></script>
</head>
<body>
    <div class="clock">
        <div id="external-circle">
            <div class="palito palito-hora"></div>
            <div class="palito palito-minuto"></div>
            <div class="palito palito-segundo"></div>
        </div>
    </div>
</body>
</html>