<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Drum Kit</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
     <!-- import the webpage's client-side javascript file -->
    <script src="js/drumKit.js" defer></script>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="css/drumKit.css">
    
  </head>
  <body>
    
    <div class="keys">
      <div data-key="65" class="key">
        <kbd>A</kbd>
        <span class="sound">kick</span>
      </div>
      
      <div data-key="83" class="key">
        <kbd>S</kbd>
        <span class="sound">clap</span>
      </div>
      
      <div data-key="68" class="key">
        <kbd>D</kbd>
        <span class="sound">hihat</span>
      </div>
      
      <div data-key="70" class="key">
        <kbd>F</kbd>
        <span class="sound">tink</span>
      </div>
      
      <div data-key="71" class="key">
        <kbd>G</kbd>
        <span class="sound">snare</span>
      </div>
      
      <div data-key="72" class="key">
        <kbd>H</kbd>
        <span class="sound">boom</span>
      </div>
      
      <div data-key="74" class="key">
        <kbd>J</kbd>
        <span class="sound">tom</span>
      </div>
      
      <div data-key="75" class="key">
        <kbd>K</kbd>
        <span class="sound">openhat</span>
      </div>
      
      <div data-key="76" class="key">
        <kbd>L</kbd>
        <span class="sound">ride</span>
      </div> 
    </div>
    
    <div class="sounds">
      <audio data-key="65"><source src="assets/sounds/kick.wav"></audio>
      <audio data-key="83"><source src="assets/sounds/clap.wav"></audio>
      <audio data-key="68"><source src="assets/sounds/hihat.wav"></audio>
      <audio data-key="70"><source src="assets/sounds/tink.wav"></audio>
      <audio data-key="71"><source src="assets/sounds/snare.wav"></audio>
      <audio data-key="72"><source src="assets/sounds/boom.wav"></audio>
      <audio data-key="74"><source src="assets/sounds/tom.wav"></audio>
      <audio data-key="75"><source src="assets/sounds/openhat.wav"></audio>
      <audio data-key="76"><source src="assets/sounds/ride.wav"></audio>
    </div>
    
  </body>
</html>
