<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flex Panels Image Galery</title>

    <link rel="stylesheet" href="css/flexPanels.css">
</head>
<body>
    <div class='p'>
        <div class='pc a'><p>column 1</p></div>
        <div class='pc b'><p>column 2</p></div>
        <div class='pc c'><p>column 3</p></div>
        <div class='pc d'><p>column 3</p></div>
      </div>
</body>
</html>