.p{
    display:flex;
    transition: flex 1s cubic-bezier(0.61,-0.19, 0.7,-0.11), 
      background 1s;
  }
  
  .p :first-child {
    flex:1;
  }
  
  .pc{
    border: 1px red solid;
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px;
  }
  
  .pc.a {
    background: linear-gradient(to right, #a90329 0%,#8f0222 50%,#6d0019 100%);
  }
  
  