doctype html
html
    head
        title JS30 Home
        script(src='js/index/index.js')
        link(rel="stylesheet", href="css/index/index.css")
    body
        ul#Atividades
            each aula in aulas
                li#Atividade
                    a(href=aula) #{aula}